/* About Page */
.two-columns-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-margin {
    margin-left: 15vw;
    margin-right: 15vw;
}

.about-me, .about-me-2 {
    font-size: 1.4vw;
}

.about-pic {
    /* display: none; */
    width: 30vw;
    height: 30vw;
    border-radius: 15px;
    margin-top: 30px;
}

.about-pic-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    /* margin-right: 10%; */
}

/* About padding-center-style */
.about-padding-center-1 {
    padding: 5vw 0;
}

.about-padding-center-2 {
    padding: 3vw 0;
}

/* About Responsive */
@media screen and (max-width: 600px) {
    .two-columns-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
    }
    .about-me-2 {
        grid-row-start: 0;
        grid-row-end: 1;
    }
    .about-pic-wrapper-2 {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .about-margin {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .about-me, .about-me-2 {
        font-size: 15px;
    }
    .about-pic {
        width: 100%;
        height: auto;
        margin-top: 0;
    }
    .about-pic-wrapper {
        margin-left: 0;
        margin-right: 0;
    }
}
