img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 60vw;
}

.ui-margin {
  margin-left: 15%;
  margin-right: 15%;
}