.small-header {
    margin-top: 100px;
    margin-bottom: -2px;
    font-family: 'Koulen', cursive;
    font-size: 30px;
    color: #E0AA58;
    font-weight: lighter;
}

.big-text {
    font-size: 22px;
    font-weight: 700;
}

.end-section {
    margin-top: 100px;
    font-size: 20px;
}