.persona-two-columns {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.persona-two-columns-2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.persona-pic {
    /* display: none; */
    width: 50vw;
    height: auto;
    /* border-radius: 15px;
    margin-top: 30px; */
}

h1 {
    color: #0C648F;
}

.domino-title {
    color: #DF1D3C;
    text-align: center;
}

/* Competitive Audit Table */

table {
    width:100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

#domino-table tr:nth-child(even) {
    background-color: #0C648F;
    color: white;
}

#domino-table tr:nth-child(odd) {
    background-color: #DF1D3C;
    color: white;
}

#domino-table th {
    background-color: white;
    color: black;
}

.two-sketches {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-gap: 50px;
}

.domino-intro {
    height: auto;
    width: 50%;
}

.domino-margin {
    margin-left: 15vw;
    margin-right: 15vw;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 60vw;
} */

/* Responsive */
@media screen and (max-width: 900px) {
    .two-sketches {
        grid-template-columns: 1fr;
    }

    .domino-intro {
        width: 70%;
    }
}
