/* Index Wrapper */
.new-wrapper {
    margin: auto;
    width: 95%;
}

/* Index Img */
img {
    text-align: center;
    max-width: 90%;
    margin: 2%;
    height: auto;
    width: auto;
}

/* Index Columns */
.new-columns {
    margin: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.new-columns a {
    color: black;
}

/* .reverse-columns {
    background-color: black;
    color: white;
}

.reverse-columns a {
    color: white;
} */

/* Index Padding Center Style */
.padding-center-style {
    padding: 13%;
}

/* Home Link */
.home-link {
    color: white;
    text-decoration: none;
}
.home-link:hover {
    color: #D0BCFE;
    text-decoration: underline;
}

/* Button */
.button {
    background-color: black;
    border: none;
    color: white;
    font-size: 18px;
    padding: 12px 30px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

/* .button-2 {
    background-color: white;
    border: none;
    font-size: 20px;
    padding: 15px 32px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
} */

/* Index-Wrapper + Free Style */
.btnn-width {
    background-color: black;
    background: none;
    color: black;
    position: relative;
    overflow: hidden;
}

/* .btnn-width-2 {
    background-color: black;
    background: none;
    color: white;
    position: relative;
    overflow: hidden;
} */

.btnn-width::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, #6945D0 31.84%, #000000 100%);
    z-index: -1;
    transition: 1s;
}

/* .btnn-width-2::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    background: black;
    z-index: -1;
    transition: 1s;
} */

.btnn1:hover {
    color: white;
}

/* .btnn2:hover {
    color: black;
} */

.btnn1:hover button {
    background-color: white;
    color: black;
}

/* .btnn2:hover button {
    background-color: black;
    color: white;
} */

.btnn1::before {
    right: 0;
}
.btnn1:hover::before {
    width: 100%;
}

/* .btnn2::before {
    right: 0;
    width: 100%;
}
.btnn2:hover::before {
    width: 53%;
} */

/* Index Intro */
.index-intro {
    margin-top: -55px;
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 23%;
    padding-right: 23%;
    background-color: black;
    color: white;
}

.index-intro-1 {
    /* font-weight: 800; */
    font-size: 85px;
    margin-bottom: -15px;
    color: #D0BCFE;
}

.index-intro-2 {
    font-size: 25px;
    font-family: 'Righteous', cursive;
}

/* Index Down Button */
.index-down-button {
    text-align: center;
    margin-top: 100px;
}

/* Footer for Index Page */
.tyler-footer {
    margin: 2%;
}

/* Index Responsive */
@media screen and (max-width: 600px) {
    .index-intro {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 80px;
    }
    .new-columns {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(2, auto);
    }
    .btnn1::before {
        left: 0;
    }
    .btnn1:hover::before {
        width: 100%;
    }
    .btnn2:hover::before {
        width: 0;
    }
    .padding-center-style {
        padding: 0 0;
    }
    .btnn1:hover::before {
        width: 150%;
    }
    .btnn-width::before {
        background: linear-gradient(270deg, #6945D0 31.16%, #000000 100%);
    }
    .button {
        margin-bottom: 15px;
    }
    .padding-center-style h1 {
        margin-top: 0px;
        margin-bottom: -5px;
    }
    .padding-center-style {
        margin-left: 12px;
        margin-right: 12px;
    }
}