/* New Home */

/* Index Wrapper */
.new-wrapper {
    margin: auto;
    width: 95%;
    /* border: 3px solid black; */
    padding: 5px;
}

/* Index Img */
img {
    text-align: center;
    max-width: 90%;
    margin: 2%;
    height: auto;
    width: auto;
}

/* Index Columns */
.new-columns {
    margin: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.new-columns a {
    color: black;
}

.reverse-columns {
    background-color: black;
    color: white;
}

.reverse-columns a {
    color: white;
}

/* Index Padding Center Style */
.padding-center-style {
    padding: 70px 0;
}

/* Button */
.button {
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
    padding: 15px 32px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

.button-2 {
    background-color: white;
    border: none;
    font-size: 20px;
    padding: 15px 32px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

/* Index-Wrapper + Free Style */
.btnn-width {
    background-color: black;
    background: none;
    color: black;
    position: relative;
    overflow: hidden;
}

.btnn-width-2 {
    background-color: black;
    background: none;
    color: white;
    position: relative;
    overflow: hidden;
}

.btnn-width::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    background: black;
    z-index: -1;
    transition: 1s;
}

.btnn-width-2::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    background: black;
    z-index: -1;
    transition: 1s;
}

.btnn1:hover {
    color: white;
}

.btnn2:hover {
    color: black;
}

.btnn1:hover button {
    background-color: white;
    color: black;
}

.btnn2:hover button {
    background-color: black;
    color: white;
}

.btnn1::before {
    right: 0;
}
.btnn1:hover::before {
    width: 52%;
}

.btnn2::before {
    right: 0;
    width: 100%;
}
.btnn2:hover::before {
    width: 53%;
}

/* Index Intro */
.index-intro {
    /* line-height: 80%; */
    text-align: center;
}

.index-intro-1 {
    font-weight: 900;
    font-size: 50px;
}

.index-intro-2 {
    font-size: 25px;
}

/* Index Responsive */
@media screen and (max-width: 800px) {
    .new-columns {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(2, auto);
    }
    .another-column {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .image-column {
        grid-row-start: 0;
        grid-row-end: 1;
    }
    .btnn1::before {
        left: 0;
    }
    .btnn1:hover::before {
        width: 100%;
    }
    .btnn2:hover::before {
        width: 0;
    }
    .menu-nav {
        font-size: 6vw;
    }
    .padding-center-style {
        padding: 0 0;
    }
}