/* Images */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Prototype Frame */
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 60vw;
}

/* Center Text Align */
.center-text-align {
    text-align: center;
}

/* Margin for Content Tab */
.kumi-content-margin {
    margin-left: 3vw;
}

/* Two Columns */
.kumi-two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-gap: 50px;
}

/* Research Stat Margins */
.kumi-div-stat {
    margin-top: -70px;
}
.kumi-p-stat {
    font-size: 80px;
    margin-bottom: -10px;
}

@media screen and (max-width: 900px) {
    .kumi-two-columns {
        grid-template-columns: 1fr;
    }
    #kumi-div-top {
        margin-bottom: -70px;
    }
}