body {
    background-image: url("images/102.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/* New Photos Wrapper */

.new-photos-wrapper {
    display: grid;
    grid-template-columns: 5fr 4fr;
}

.new-photo-wrapper-1, .new-photo-wrapper-2 {
    position: relative;
    display: grid;
    justify-content: center;
    text-align: center;
}

/* New Picture */

.new-tyler-tran {
    margin-top: 200px;
    margin-bottom: 50px;
    width: 600px;
    height: 72px;
}

.new-tyler-tran-2 {
    display: none;
}

/* Buttons */

.buttons {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
}

.button {
    margin: auto;
    font-size: 20px;
    width: 150px;
    border: 3px solid #EEEEEE;
    border-radius: 10px;
    padding: 10px;
    background-color: #181818;
    background: none;
    color: #707070;
    text-decoration: none;
    cursor: pointer;
    transition: 1s;
    position: relative;
    overflow: hidden;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #EEEEEE;
    z-index: -1;
    transition: 1s;
}

.button:hover {  
    color: #181818;
}

.button:hover::before {
    width: 100%;
}

.button-01::before {
    right: 0;
}

.button-02::before {
    left: 0;
}

/* New Index Responsive */

@media screen and (max-width: 1250px) {
    /* .new-content-wrapper {
        line-height: 3.5;
    } */
    .new-photos-wrapper {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    .new-tyler-tran-2 {
        display: flex;
        width: 240px;
        height: 144px;
        margin-top: 50px;
    }
    .buttons {
        display: inline-block;
        margin-top: 20px;
    }
    .button {
        font-size: 19px;
        width: 255px;
        margin-bottom: 20px;
    }
    .new-tyler-tran {
        display: none;
    }
    .new-photo-wrapper-1 {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .new-photo-wrapper-2 {
        grid-row-start: 1;
        grid-row-end: 2;
    }
}
