.new-wrapper {
    margin: auto;
    width: 95%;
    /* border: 3px solid black; */
    padding: 5px;
    font-size: 10vw;
}

img {
    text-align: center;
    max-width: 90%;
    margin: 2%;
    height: auto;
    width: auto;
}

.new-columns {
    margin: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.new-columns a {
    color: black;
}

.reverse-columns {
    background-color: black;
    color: white;
}

.reverse-columns a {
    color: white;
}

/* Buttons */

.btnn-width {
    background-color: black;
    background: none;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}


.btnn-width::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    background: black;
    z-index: -1;
    transition: 1s;
}

/* Free style */

.btnn1:hover a {
    color: white;
}

.btnn2:hover a {
    color: black;
}

.btnn1::before {
    right: 0;
}
.btnn1:hover::before {
    width: 52%;
}

.btnn2::before {
    right: 0;
    width: 100%;
}
.btnn2:hover::before {
    width: 55%;
}

/* Responsive */

@media screen and (max-width: 800px) {
    .new-columns {
        grid-template-columns: repeat(1, auto);
    }
    .btnn1::before {
        left: 0;
    }
    .btnn1:hover::before {
        width: 100%;
    }
    .btnn2:hover::before {
        width: 0;
    }
}