/* Others Intro */
.others-intro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #A16660;
    color: #202327;
    font-family: 'Koulen', cursive;
    font-size: 16px;
    width: 450px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px 30px 30px 30px;
}
.others-intro-1 {
    font-family: 'Righteous', cursive;
    font-size: 45px;
    margin-bottom: -10px;
}

/* Others Project Columns */
.others-project-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    grid-column-gap: 40px;
    row-gap: 40px;
}

/* Responsive For Cards */
@media (max-width: 858px) {
    .others-project-columns {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 555px) {
    .others-intro {
        width: 90%
    }
}