html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

img {
    text-align: center;
    max-width: 100%;
    margin-bottom: 20px;
    height: auto;
    width: auto;
}

.three-columns {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 40px;
}

@media screen and (max-width: 600px) {
    .three-columns {
        grid-template-columns: repeat(1, auto);
        margin-left: 5%;
        margin-right: 5%;
    }
}