/* Title and Headers */
h1 {
    color: #3D59AB;
}

/* Problem Section */
.problem-two-columns {
    display: grid;
    grid-template-columns: 5fr 2fr;
    column-gap: 5%;
}

/* Persona Sections */
.persona-two-columns {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.persona-two-columns-alt {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.persona-wrap {
    margin: 10px;
}

.zz-persona-two-columns {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.zz-persona-two-columns-2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.persona-pic {
    /* display: none; */
    width: 15vw;
    height: auto;
    /* border-radius: 15px;
    margin-top: 30px; */
}

/* Three Columns */
.relayplay-three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.relayplay-three-columns img {
    width: 65%;
}

/* Quote Div */
.quote-div-blue {
    background-color: #3D59AB;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

/* Quote Padding */
.quote-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Domino Image - Temporary */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Domino Two Sketches */

.two-sketches img {
    width: 70%;
}

/* h1 spacing */
h1 {
    margin-top: 50px;
}

/* RelayPlay Link */
.relayplay-link {
    color: #3D59AB;
    text-decoration: none;
}
.relayplay-link:hover {
    color: #FFB900;
    text-decoration: underline;
}

/* Content Margin */
.relayplay-content-margin {
    margin-left: 3vw;
}

/* Hi-fi Two Columns */
.hifi-two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Hi-fi Image */
.hifi-image {
    margin-left: 25%;
    margin-right: 25%;
}

/* RelayPlay Responsive */
@media screen and (max-width: 900px) {
    .persona-two-columns {
        grid-template-columns: 1fr;
    }
    .problem-two-columns {
        grid-template-columns: 1fr;
    }
    .persona-pic {
        width: 60%;
    }
    .persona-pic-wrapper {
        grid-row-start: 0;
        grid-row-end: 1;
    }
    .persona-content {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .two-sketches img {
        width: 100%;
    }
    .persona-two-columns-alt {
        grid-template-columns: 1fr;
    }
}