/* Title Div */
.title-div {
    background-color: #CCD7E5;
    margin-top: 4vw;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #111111;
}
.searf-title-header {
    font-family: 'Koulen', cursive;
    margin-bottom: -2px;
    font-size: 40px;
    line-height: 50px;
    color: #00367C;
    font-weight: lighter;
}
.searf-title-description {
    margin-top: auto;
    margin-bottom: auto;
}

/* Header */
.searf-header {
    margin-top: 100px;
    margin-bottom: -2px;
    font-family: 'Koulen', cursive;
    font-size: 30px;
    color: #00F5FA;
    font-weight: lighter;
}
.searf-header-2 {
    margin-top: 100px;
    margin-bottom: -20px;
    font-family: 'Righteous', cursive;
    font-size: 16px;
    color: #808DAD;
    font-weight: lighter;
}
.searf-header-3 {
    margin-bottom: -2px;
    font-family: 'Koulen', cursive;
    font-size: 30px;
    color: #00F5FA;
    font-weight: lighter;
}

/* Two Columns */
.searf-two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}
.image-two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

/* Images */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}