/* Master styles */
body {
    background-color: #171717;
    color: #f2e096;
    margin: 0px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.brand {
    font-style: italic;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

/* Nav styles */
.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid white;
}

.nav-link-wrapper a:hover {
    color: white;
}

.active-nav-link {
    border-bottom: 1px solid #f2e096;
}

.active-nav-link a {
    color: #f2e096 !important;
}

.no-link {
    color: #f2e096;
    text-decoration: none;
}

/* Portfolio styles */

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.portfolio-items-wrapper {
    display: flex;
    padding: 25px;
    /* border: 5px solid #8a8a8a; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* position: relative => gives more flexibility toward the big background for the content inside */
/* position: absolute => gives certain position toward the content inside */
.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    width: 375px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 35%;
    margin-bottom: 20px;
}

/* img text effect */

.img-text-wrapper .subtitle a {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle a {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 600;
    color: #f2e096;
}

/* Blur Images */

.img-blur {
  transition: 1s;
  filter: brightness(25%);
}

/* Responsive */
@media screen and (max-width: 768px) {

    .portfolio-items-wrapper {
        flex-direction: column;
    }

}

/* About Page */
.title {
    text-align: center;
    color: #f2e096;
}

.about-content {
}

.about-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-items-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    margin: 30px;
    font-size: 25px;
}

a {
    color: #25284d;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
  .box {
    width: 300px;
    height: 200px;
  }

  .portfolio-img-background {
    width: 350px;
    height: 234px;
    }

}
