/* Body */

body {
    background-color: #181818;
    color: white;
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

/* Title in general */

.title {
    text-align: center;
    color: #F2E096;
}

/* Links in general */
.some-link {
    color: #F2E096;
    text-decoration: none;
}

/* Container */

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Side-Nav */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #181818;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #707070;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #9DA6F5;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}

/* Nav */

.nav-link-wrapper {
    margin-left: 25px;
    margin-top: 25px;
}

.menu-nav {
    color: #9DA6F5;
    cursor: pointer;
    font-size: 25px;
}

/* Photos Wrapper */

.photos-wrapper {
    display: grid;
    grid-template-columns: 5fr 4fr;
}

.photo-wrapper-1, .photo-wrapper-2 {
    position: relative;
    display: grid;
    justify-content: center;
    text-align: center;
}

/* Pictures */

.tyler-suit {
    width: 400px;
    height: 400px;
    border-radius: 200px;
    margin-top: 50px;
    box-shadow: 8px 0px 10px #9DA6F5, -8px 0px 10px #9DA6F5;
}

.tyler-tran {
    width: 600px;
    height: 275px;
}

/* UX Style */

.ux-style {
    color: #9DA6F5;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

/* Buttons */

.buttons {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
}

.button {
    margin: auto;
    font-size: 20px;
    width: 150px;
    border: 3px solid #9DA6F5;
    border-radius: 10px;
    padding: 10px;
    background-color: #181818;
    color: #707070;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #9DA6F5;
    color: black;
}

/* Index Responsive */
@media screen and (max-width: 1100px) {
    .content-wrapper {
        line-height: 3.5;
    }
    .photos-wrapper {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
    }
    .photo-wrapper-1 {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .photo-wrapper-2 {
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

@media screen and (min-width: 1500px) {
    .content-wrapper {
        line-height: 3.5;
    }
    .photos-wrapper {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
    }
    .photo-wrapper-1 {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .photo-wrapper-2 {
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

@media screen and (max-width: 600px) {
    .tyler-suit {
        margin-top: 25px;
        width: 240px;
        height: 240px;
    }
    .tyler-tran {
        width: 275px;
        height: 126px;
        margin-top: -12px;
    }
    .ux-style {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .buttons {
        grid-template-columns: 1fr;
    }
    .button {
        margin-bottom: -5px;
        font-size: 15px;
        width: 255px;
    }
}

/* About Page */
.two-columns-wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-me {
    margin-left: 20px;
    margin-right: 20px;
}

.about-pic {
    width: 600px;
    height: 400px;
    border-radius: 15px;
    margin-top: 30px;
}

.about-pic-wrapper {
    display: grid;
    justify-content: center;
}

/* About Responsive */

@media screen and (max-width: 1100px) {
    .two-columns-wrapper {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    .about-pic {
        width: 360px;
        height: 240px;
    }
}

/* Fav-Colors */

.fc-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
}

.fc-profile-items-wrapper {
    display: flex;
    padding: 25px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fc-box {
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
}

.fc-box:hover {
    box-shadow: 0px 10px 50px blue;
}
