/* This is where the general styles are stored */

/* Body */
body {
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* Container */
.container {
    /* display: grid;
    grid-template-columns: 1fr; */
    background-color: black;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

/* Nav Margin */
.nav-margin {
    margin-top: 70px;
}

/* Nav Top Left & Right */
.nav-link-wrapper {
    float: left;
    margin-top: -2px;
    margin-left: 5vw;
}
.menu-nav {
    cursor: pointer;
    font-size: 40px;
    color: white;
}
.top-right {
    float: right;
    font-size: 23px;
    color: white;
    margin-top: 8px;
    margin-right: 4vw;
}
.top-right a {
    text-decoration: none;
    color: white;
}
.top-right:hover {
    text-decoration: underline;
}

/* Side-Nav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #707070;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #EEEEEE;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}

/* Title in general - Temporary */
.title {
    text-align: center;
}

/* Links in general - Need to change to the class name to general link */
.some-link {
    color: black;
    text-decoration: none;
}

.some-link:hover {
    text-decoration: underline;
}

/* Portfolio Margin */
.portfolio-margin {
    margin-left: 15vw;
    margin-right: 15vw;
}

/* Footer Three Columns */
.footer-three-columns {
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    grid-gap: 10px;
}

/* Box Footer (Three Columns) */
.box-footer:hover {
    box-shadow: 0px 5px 25px black;
}

/* Tyler Footer */
.tyler-footer {
    font-weight: bolder;
    font-size: 18px;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}

/* Footer Box Images */
.footer-three-columns img {
    width: 88%;
}

/* General Responsive */
@media screen and (max-width: 600px) {
    .portfolio-margin {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}