body h1 {
    text-align: center;
}

.grid {
    width: 400px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 7px 7px 10px #000000, -7px -7px 10px #383838;
    margin: 0 auto;
    margin-top: 25px;
    padding: 10px;
}

.grid #question {
    font-size: 20px;
    text-align: center;
}

.buttons {
    align-items: center;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: #181818;
    border: none;
    border-radius: 10px;
    box-shadow: 7px 7px 10px #000000, -7px -7px 10px #383838;
    color: #F2E096;
    font-size: 15px;
    margin: 5px;
    padding: 5px;
    width: 175px;
}

#progress {
    font-size: 15px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    background-color: #F2E096;
    color: black;
    cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 550px) {
    .grid {
        width: 275px;
    }

    .buttons {
        grid-template-columns: 1fr;
    }

    #btn0, #btn1, #btn2, #btn3 {
        width: 255px;
    }
}
