/* Intro Background */
.intro-background {
    background-image: url("images/test-bg.png");
    background-size: cover;
    padding-top: 95px;
    padding-bottom: 95px;
}

/* View Projects */
.view-projects button {
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    border: none;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    color: #444444;
}

.view-projects button:hover {
    color: #D0BCFE;
}

/* Projects Section */
.projects-section-filler {
    background-color: white;
    color: white;
    padding-top: 10px;
}

/* Home Link */
.home-link {
    color: red;
    text-decoration: none;
}
.home-link:hover {
    color: red;
    text-decoration: underline;
}

/* Index Intro */
.index-intro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ffffff;
    width: 450px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px 30px 30px 30px;
}

.index-intro-1 {
    /* font-weight: 800; */
    font-size: 45px;
    margin-bottom: -15px;
    font-family: 'Poppins', sans-serif;
}

.index-intro-2 {
    /* font-size: 25px; */
    font-family: 'Poppins', sans-serif;
}

/* Footer for Index Page */
.tyler-footer {
    margin: 2%;
}