/* Index Wrapper */
.new-wrapper {
    margin: auto;
    width: 95%;
}

/* View Projects */
.view-projects {
    font-weight: 600;
    color: #303030;
}

.view-projects:hover {
    color: #6945D0
}

/* Projects Section */
.projects-section {
    background-color: red;
}

/* Index Img */
img {
    text-align: center;
    max-width: 90%;
    margin: 2%;
    height: auto;
    width: auto;
}

/* Index Padding Center Style */
.padding-center-style {
    padding: 13%;
}

/* Home Link */
.home-link {
    color: red;
    text-decoration: none;
}
.home-link:hover {
    color: red;
    text-decoration: underline;
}

/* Index-Wrapper + Free Style */
.btnn-width {
    background-color: black;
    background: none;
    color: black;
    position: relative;
    overflow: hidden;
}

.btnn-width::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, #6945D0 31.84%, #000000 100%);
    z-index: -1;
    transition: 1s;
}

.btnn1:hover {
    color: white;
}

.btnn1:hover button {
    background-color: white;
    color: black;
}

.btnn1::before {
    right: 0;
}
.btnn1:hover::before {
    width: 100%;
}

/* Index Intro */
.index-intro {
    text-align: center;
    margin-top: -55px;
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 35%;
    padding-right: 35%;
}

.index-intro-1 {
    /* font-weight: 800; */
    font-size: 50px;
    margin-bottom: -15px;
}

.index-intro-2 {
    font-size: 25px;
    font-family: 'Righteous', cursive;
}

/* Index Down Button */
.index-down-button {
    text-align: center;
    margin-top: 100px;
}

/* Footer for Index Page */
.tyler-footer {
    margin: 2%;
}

/* Index Responsive */
@media screen and (max-width: 600px) {
    .index-intro {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 80px;
    }
    .btnn1::before {
        left: 0;
    }
    .btnn1:hover::before {
        width: 100%;
    }
    .btnn2:hover::before {
        width: 0;
    }
    .padding-center-style {
        padding: 0 0;
    }
    .btnn1:hover::before {
        width: 150%;
    }
    .btnn-width::before {
        background: linear-gradient(270deg, #6945D0 31.16%, #000000 100%);
    }
    .button {
        margin-bottom: 15px;
    }
    .padding-center-style h1 {
        margin-top: 0px;
        margin-bottom: -5px;
    }
    .padding-center-style {
        margin-left: 12px;
        margin-right: 12px;
    }
}