/* Intro Background */
.intro-background {
    background-image: url("images/test-bg.png");
    background-size: cover;
    padding-top: 95px;
    padding-bottom: 95px;
}

/* View Projects */
.view-projects button {
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    border: none;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    color: #444444;
}

.view-projects button:hover {
    color: #D0BCFE;
}

/* Projects Section */
.projects-section-filler {
    background-color: white;
    color: white;
    padding-top: 10px;
}

/* Project Wrapper */
.project-wrapper {
    margin-left: 10%;
    margin-right: 10%;
}

/* Project Columns */
.project-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 40px;
    row-gap: 40px;
}

/* Card Style */
.card {
    transition: 0.3s;
    width: 100%;
}
.card img:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translate3D(0,-1px,0) scale(1.07);
    /* box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04); */
    transition: all .4s ease;
}

/* Project Container */
.project-container {
    margin-top: 25px;
    line-height: 10px;
}

.project-container p {
    font-family: 'Righteous', cursive;
    font-size: 16px;
    color: #9C9893;
    font-weight: lighter;
}

/* Home Link */
.home-link {
    color: #444444;
    text-decoration: none;
}
.home-link:hover {
    color: #DADADA;
}

/* Index Intro */
.index-intro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ffffff;
    width: 450px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px 30px 30px 30px;
}

.index-intro-1 {
    /* font-weight: 800; */
    font-size: 45px;
    margin-bottom: -15px;
    font-family: 'Poppins', sans-serif;
}

.index-intro-2 {
    /* font-size: 25px; */
    font-family: 'Poppins', sans-serif;
}

/* Footer for Index Page */
.tyler-footer {
    margin: 2%;
}

/* Responsive For Cards */
@media (max-width: 858px) {
    .project-columns {
        grid-template-columns: 1fr;
    }
}